<h1>注文履歴</h1>
<% if @orders.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>注文日時</th>
        <th>購入者</th>
        <th>注文個数</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <% total_quantity = order.order_details.sum(:amount) %>
        <tr>
          <td><%= link_to order.created_at, admin_order_path(order) %></td> <!-- 注文日時をリンクにする -->
          <td><%= order.name %></td>
          <td><%= total_quantity %>個</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>注文履歴はありません。</p>
<% end %>