<h1>注文履歴</h1>
<% if @orders.any? %>

  <table class="table">
    <thead>
      <tr>
        <th>注文日</th>
        <th>支払金額</th>
        <th>注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <% if order.customer_id == current_customer.id %> <!-- ログイン中の顧客の注文のみ表示 -->
          <tr>
            <td><%= order.created_at.strftime("%Y/%-m/%-d") %></td>
            <td><%= order.total_amount %>円</td>
            <td><%= link_to "詳細", order_path(order) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>注文履歴はありません。</p>
<% end %>